<footer>
    <div class="footContainer">
        <div class="footerNav">
            <h3>Загальна інформація</h3>
            <li class="footerLink"><a href="http://www.lute.lviv.ua/education/nauk/" target="_blank">Науковий відділ</a></li>
            <li class="footerLink"><a href="http://www.lute.lviv.ua/education/nauk-vydan/" target="_blank">Наукові видання</a></li>
            <li class="footerLink"><a href="http://www.lute.lviv.ua/education/aspirant/" target="_blank">Аспірантура і докторантура</a></li>
            <li class="footerLink"><a href="http://www.lute.lviv.ua/education/spec-rady/" target="_blank">Спеціалізовані вчені ради</a></li>
            <li class="footerLink"><a href="http://www.lute.lviv.ua/universitet/akreditacija/" target="_blank">Акредитація</a></li>
            <li class="footerLink"><a href="http://www.lute.lviv.ua/akademija/novini/" target="_blank">Новини</a></li>
        </div>
        <div class="footerNav">
            <h3>Структура</h3>
            <li class="footerLink"><a href="http://www.lute.lviv.ua/structure/rectorat/" target="_blank">Ректорат</a></li>
            <li class="footerLink"><a href="http://www.lute.lviv.ua/structure/institutes/" target="_blank">Інститути</a></li>
            <li class="footerLink"><a href="http://www.lute.lviv.ua/structure/faculties/" target="_blank">Факультети</a></li>
            <li class="footerLink"><a href="http://www.lute.lviv.ua/structure/departments/" target="_blank">Кафедри</a></li>
            <li class="footerLink"><a href="http://www.lute.lviv.ua/structure/rada/" target="_blank">Вчена рада університету</a></li>
            <li class="footerLink"><a href="http://www.lute.lviv.ua/structure/other-units/" target="_blank">Інші підрозділи</a></li>
        </div>
        <div class="footerNav">
            <h3>Абітурієнтам</h3>
            <li class="footerLink"><a href="http://www.lute.lviv.ua/admissions/priimalna-komisija/" target="_blank">Приймальна комісія</a></li>
            <li class="footerLink"><a href="http://www.lute.lviv.ua/admissions/rules/" target="_blank">Правила прийому</a></li>
            <li class="footerLink"><a href="http://www.lute.lviv.ua/admissions/documents/" target="_blank">Документи</a></li>
            <li class="footerLink"><a href="http://www.lute.lviv.ua/admissions/prozhivannja-studentiv/?L=22" target="_blank">Проживання студентів</a></li>
            <li class="footerLink"><a href="https://ez.osvitavsim.org.ua/" target="_blank">Подача електронної заяви</a></li>
            <li class="footerLink"><a href="http://www.lute.lviv.ua/admissions/gss/sp/?L=22" target="_blank">Спеціальності</a></li>
        </div>
       
        <div class="footerNav">
            <h3>Інше</h3>
            <li class="footerLink"><a [routerLink]="['/contacts']">Контакти</a></li>
            <li class="footerLink"><a href="http://www.lute.lviv.ua/fotogalereja/?L=0&tx_yag_pi1%5Baction%5D=list&tx_yag_pi1%5Bcontroller%5D=Gallery&cHash=0f6aef7d6716a62f47608a11d39ece6c" target="_blank">Фотогалерея</a></li>
            <li class="footerLink"><a href="http://www.lute.lviv.ua/education/naukove-tovaristvo-molodikh-vchenikh-lvivskogo-torgovelno-ekonomichnogo-universitetu/?L=0" target="_blank">Наукові товариства</a></li>
            <li class="footerLink"><a href="http://www.lute.lviv.ua/education/koop-nauka/?L=0" target="_blank">Центр кооп. науки та освіти</a></li>
            <li class="footerLink"><a href="http://www.lute.lviv.ua/universitet/asociacija-vipusknikiv-lteu/nashi-vipuskniki/" target="_blank">Наші випускники</a></li>
        </div>
    </div>
    <div class="creatorBox">
        <p class="creator">Created by -<a class="creatorA" href="https://www.linkedin.com/in/sviatoslav-bar-3b765a197/" target="_blank"> Sviatoslav Bar</a></p>
    </div>
    
  </footer>
