<div class="container">
  <div class="containBox">
    <div class="imageBox"></div>
    <div class="textBox">
      <div class="seeds">
        <p class="back" [routerLink]="['/abit']">← Абітурієнтам</p>

      </div>
      <h2>Факультет товарознавства, управління та сфери обслуговування</h2>
      <div class="spet">
        <h2>Спеціальність:</h2>

        <p> Готельно-ресторанна справа</p>
        <p>Менеджмент</p>
        <p>Підприємництво, торгівля та біржова діяльність</p>
        <p>Туризм</p>
        <p>Технології захисту навколишнього середовища</p>
        <p>Харчові технології та інженерія</p>
      </div>
      <div class="icons">
        <a href="http://www.lute.lviv.ua/fotogalereja/?L=718&tx_yag_pi1%5Bcontext1301%5D%5BgalleryUid%5D=15&tx_yag_pi1%5Baction%5D=index&tx_yag_pi1%5Bcontroller%5D=Gallery&cHash=4420fc04887b8eee4f2bfa36af832f23"><div class="gallery"></div></a>
        <a href="https://www.facebook.com/lute.lviv/"><div class="facebook"></div></a>
        <a href="https://www.instagram.com/government_lute/"><div class="insta"></div></a>
        <a href="https://www.youtube.com/watch?v=TnK_Vw-xt9Q"><div class="youTube"></div></a>
    </div>
    <div class="dividerXL"></div>
    </div>
  </div>
  <div class="content">
    <div class="leftMenu">
      <div class="cathedra">
        <h3>Кафедри</h3>
        <p> <a href="http://www.lute.lviv.ua/structure/faculties/tkf/kaf-prod/?L=444">товарознавства, технологій і управління якістю харчових продуктів;</a></p>
        <p><a href="http://www.lute.lviv.ua/structure/faculties/tkf/kaf-kd/?L=444">підприємництва, торгівлі та логістики;</a></p>
        <p><a href="http://www.lute.lviv.ua/structure/faculties/tkf/kaf-expert/?L=444">товарознавства та експертизи в митній справі;</a></p>
        <p><a href="http://www.lute.lviv.ua/structure/faculties/tkf/kaf-harch/?L=444">харчових технологій;</a></p>
        <p><a href="http://www.lute.lviv.ua/structure/faculties/tkf/kafedra-turizmu-ta-gotelno-restorannoji-spravi/?L=444">туризму та готельно-ресторанної справи;</a></p>
        <p><a href="http://www.lute.lviv.ua/structure/faculties/tkf/kaf-men/?L=444">менеджменту;</a></p>
        <p><a href="http://www.lute.lviv.ua/structure/faculties/tkf/kaf-him/?L=444">природничих наук та захисту навколишнього середовища;</a></p>
      </div>
      <div class="divider"></div>
      <div class="people">
        <h4>Декан:</h4>
        <p class="worker">доцент, к.т.н. Гаврилишин Володимир Володимирович </p>
        <h4>Заступники декана:</h4>
        <p class="worker">Донцова Інна Вікторівна (032) 276-44-07; 295-81-83</p>
        <p class="worker">Лебединець Віра Тарасівна</p>
      </div>
      <div class="contacts">
        <p> адреса:</p>
        <p> адреса:
          м. Львів, вул. Самчука, 9 Кім. 422. тел: (032) 295-81-50 (032) 276-44-08</p>
      </div>
    </div>
    <div class="text">
      <h3>Про факультет</h3>
      <p>Факультет товарознавства, управління та сфери обслуговування Львівського торговельно-економічного університету
        утворений понад 70 років тому. Одним із перших деканів факультету в 1940-1941 роках був син Великого Каменяра,
        відомий вчений-хімік та громадський діяч Петро Іванович Франко.</p>
      <p>За час існування факультету підготовлено тисячі висококваліфікованих фахівців, які успішно працювали і працюють
        у сфері торгівлі, послуг, легкої та харчової промисловості, у митних службах, владних та інших структурах.</p>
      <p>У структуру факультету входить сім кафедр:</p>
      <ul>
        <li> товарознавства, технологій і управління якістю харчових продуктів;</li>
        <li>підприємництва, торгівлі та логістики;</li>
        <li>товарознавства та експертизи в митній справі;</li>
        <li>харчових технологій;</li>
        <li>туризму та готельно-ресторанної справи;</li>
        <li>менеджменту;</li>
        <li>природничих наук та захисту навколишнього середовища;</li>
      </ul>
      <p>Науково-педагогічні працівники кафедр (15 професорів, докторів наук, понад 40 доцентів, кандидатів наук)
        забезпечують викладання дисциплін на високому фаховому рівні. Підвищення кваліфікації викладачів факультету
        здійснюється через навчання в аспірантурі, участь у науково-дослідній роботі, роботі методичних та наукових
        семінарів і конференцій, стажування в провідних вищих навчальних закладах та науково-дослідних установах України
        та за кордоном.</p>
      <p>Студенти факультету навчаються у сучасних лекційних аудиторіях, оснащених інтерактивними дошками та
        мультимедійними засобами, набувають практичних вмінь і навичок у навчально-методичних кабінетах та
        спеціалізованих лабораторіях кафедр.</p>
      <p></p>
      <p></p>
      <div class="rightMenu"></div>
    </div>
  </div>
</div>
  <app-footer></app-footer>
