<div class="container">
  <div class="containBox">
    <div class="imageBox"></div>
    <div class="textBox">
      <div class="seeds">
        <p class="back" [routerLink]="['/abit']">← Абітурієнтам</p>

      </div>
      <h2>Навчально-науковий інформаційний інститут</h2>
      <div class="spet">
        <h2>Підрозділи:</h2>
        <p>Відділ мережевих технологій програмного та технічного забезпечення</p>
        <p>Відділ інформаційно-комп'ютерного забезпечення навчального процесу</p>
        <p>Центр дистанційних технологій навчання ННІІ</p>
      
      </div>
      <div class="icons">
        <a href="http://www.lute.lviv.ua/fotogalereja/?L=718&tx_yag_pi1%5Bcontext1301%5D%5BgalleryUid%5D=15&tx_yag_pi1%5Baction%5D=index&tx_yag_pi1%5Bcontroller%5D=Gallery&cHash=4420fc04887b8eee4f2bfa36af832f23"><div class="gallery"></div></a>
        <a href="https://www.facebook.com/lute.lviv/"><div class="facebook"></div></a>
        <a href="https://www.instagram.com/government_lute/"><div class="insta"></div></a>
        <a href="https://www.youtube.com/watch?v=TnK_Vw-xt9Q"><div class="youTube"></div></a>
      </div>
    <div class="dividerXL"></div>
    </div>
  </div>
  <div class="content">
    <div class="leftMenu">
      <div class="cathedra">
        <h3>Підрозділи</h3>
        <p>Відділ мережевих технологій програмного та технічного забезпечення</p>
        <p>Відділ інформаційно-комп'ютерного забезпечення навчального процесу</p>
        <p>Центр дистанційних технологій навчання ННІІ</p>
      </div>
      <div class="divider"></div>
      <div class="people">
        <h4>Директор:</h4>
        <p class="worker">доцент, к.е.н. Швець Олег Михайлович</p>
      </div>
      <div class="contacts">
        <p> адреса:</p>
            <p>79005, м. Львів, вул. Туган-Барановського 10, к. 120-131, 202</p>
            <p>79005, м. Львів, вул. Б. Тершаківців 2а, к. 217, 320, 405, 420, 504, 507</p>
            <p>79005, м. Львів, вул. У. Самчука 9, к. 401-404а, 501, 723</p>
      </div>
    </div>
    <div class="text">
      <h3>Історичний шлях</h3>
      <p>В період 1959-66 рр. у Торговельно-економічному інституті (тепер Львівська комерційна академія) була створена
        машинно-лічильна станція. Обов’язки її начальника виконував кандидат економічних наук, згодом — доцент кафедри
        бухгалтерського обліку (за сумісництвом) В.Обуханич. Викладачі та аспіранти кафедри бухгалтерського обліку тісно
        співпрацювали з машинно-лічильною станцією, яка обробляла інформацію понад 20 підприємств та організацій
        споживчої кооперації м. Львова й області. Крім цього, машинно-лічильна станція була базою для навчальних занять
        і виробничої практики студентів з машинної обробки економічної інформації та механізації бухгалтерського обліку.
        Під керівництвом В.Горєлкіна викладачі й аспіранти кафедри бухгалтерського обліку на замовлення Центроспілки
        СРСР виконували госпдоговірну наукову тему „Комплексна механізація бухгалтерського обліку в споживчій
        кооперації”.</p>
      <p>З другого півріччя 1965–1966 навчального року в інституті почав викладатися курс „Обчислювально-розрахункові
        машини і програмування” (для всіх спеціальностей економічного факультету), поліпшилося викладання на обліковому
        відділенні курсу „Механізація обліку і обчислювальних робіт”, лабораторія розрахункових машин кафедри
        бухгалтерського обліку поповнилась обчислювальною технікою.</p>
      <p>Для обробки економічної інформації у 1970-х роках у країні почали широко застосовуватися
        електронно-обчислювальні машини (ЕОМ). Виникла потреба давати майбутнім спеціалістам-економістам глибокі знання
        з обчислювальної техніки, програмування, практичні навички роботи на ЕОМ.</p>
      <p>У 1973–1974 навчальному році розпочалася підготовка спеціалістів з нової для вузу спеціальності — „Організація
        механізованої обробки економічної інформації”, що сприяло поліпшенню змісту навчання, для цього було створено
        обчислювальний центр електронно-обчислювальних машин. Була введена в експлуатацію ЕОМ „Наірі-К”, закуплено понад
        50 обчислювальних машин. Ректорат прийняв рішення щодо організації постійних спеціальних курсів з вивчення ЕОМ
        для викладацького складу. До 1975 р. ректорат планував придбати 150 малих обчислювальних машин та одну ЕОМ
        „Промінь”.</p>
      <p>Застосуванню нових, прогресивних методів навчання студентів активно сприяла лабораторія технічних засобів і
        програмного навчання. Було створено міжкафедральний автоматизований клас (АК-24), розрахований на 24 місця.
        Планувалося створити ще один такий клас на товарознавчому факультеті. У постанові №100 Центроспілки „Про
        створення обчислювального центру Львівського торговельно-економічного інституту Центроспілки” (1974 р.)
        зазначалося, що з метою створення технічної бази автоматизованої системи управління Львівської облспоживспілки і
        навчальної бази факультету організації механічної обробки економічної інформації інституту слід організувати
        обчислювальний центр Львівського торговельно-економічного інституту на самостійному балансі”.</p>
      <p>З вересня 1976 р. на основі нової спеціальності „Організація механізованої обробки економічної інформації”
        почав функціонувати інженерно-економічний факультет, на якому здійснювалася підготовка інженерів-економістів.
      </p>
      <p>З ініціативи доцента Я. Гончарука на основі очолюваної ним кафедри організації механізованої обробки
        економічної інформації в 1977 р. була створена кафедра технічних засобів обробки економічної інформації. На
        колектив кафедри покладалося завдання навчати студентів усіх факультетів основам комп’ютерної грамотності.
        Очолила кафедру кандидат фізико-математичних наук, доцент Г.Кожевникова. Колектив кафедри складався із молодих,
        енергійних, ініціативних, закоханих у свою професію людей.</p>
      <p>У 1978–1979 навчальному році в інституті функціонував автоматизований клас АК-24. Парк обчислювальних машин
        становив 455 одиниць, у тому числі ЕОМ „Наірі-К” і „Наірі-2”. Тоді було вирішено звернутися до Головного
        управління навчальних закладів Центроспілки з проханням створити навчально-науковий обчислювальний центр
        інституту на базі сектору ЕОМ, лабораторії електронних і перфораційних обчислювальних машин.</p>
      <p>У 1984 р. Інститут придбав дисплейний комплекс ЕС-7920-01, впровадження якого у вересні–жовтні 1984 р. дало
        змогу розпочати розробку системи колективного користування ЕОМ ЕС-1022, використання елементів автоматизації в
        навчальному процесі з дисциплін, безпосередньо не пов’язаних з використанням ЕОМ.</p>
      <p>В експлуатації були такі підсистеми АІС, як „Абітурієнт”, „Автоматизований контроль виробничої діяльності”,
        „Облік матеріальних цінностей на складах інституту, „Стипендія”, „Облік основних засобів”, „Облік малоцінних і
        таких, що швидко зношуються предметів”. Було також введено в експлуатацію підсистему „Навчальний процес” (на
        спеціальності „продтовари” заочного факультету).</p>
      <p>У 1986–1987 навчальному році на кафедрі технічних засобів обробки економічної інформації використовувалися такі
        методи й форми організації навчального процесу, як виконання студентами індивідуальних завдань різного ступеня
        складності, пов’язаних з реалізацією програм на ЕОМ ЕС-1022, Іскра-226, Іскра-555; проведення колоквіумів з
        урахуванням отриманих оцінок на майбутніх іспитах; організація курсового проектування протягом навчального року;
        запровадження в навчальний процес відео-термінальної діалогової системи.</p>
      <p>На початку 1990-х рр. у навчальному процесі активно застосовували ЕОМ та персональні комп'ютери.</p>
      <p>У грудні 1993 року інженерно-економічний факультет був реорганізований у факультет менеджменту з кафедрами
        менеджменту, вищої математики та статистики, інформаційних систем у менеджменті (випускова), програмних засобів
        інформатики. Ці кафедри створені на основі кафедр вищої математики, статистики, економічної інформатики та АСУ,
        програмних засобів інформатики, менеджменту, інформаційно-обчислювальних систем.</p>
      <p>В зв’язку з тим, що важливе місце в діяльності академії посідало освоєння комп’ютерної технології і її
        застосування у навчальному процесі та наукових дослідженнях, у 1996 р. на основі обчислювального центру та
        відділу автоматизованих систем управління створений відділ комп’ютерних технологій та відбувся поступовий
        перехід до персональних електронно-обчислювальних машин. Керівником відділу комп’ютерних технологій у 1996р.
        став Є.А.Рехлецький. </p>
      <p>У кінці 1990-х років лабораторії відділу комп’ютерних технологій були об’єднанні в єдину мережу. До єдиної
        мережі були під’єднані дві навчальні лабораторії відділу комп’ютерних технологій загального користування в
        навчальних корпусах №1 і №2, а з 2000 р. — предметно-спеціалізовані комп’ютерні класи випускових кафедр
        бухгалтерського обліку, фінансів та банківської справи, міжнародних економічних відносин, маркетингу,
        товарознавства продовольчих і товарознавства непродовольчих товарів, іноземних мов, теорії держави і права та
        цивільного права і процесу, інформаційних систем у менеджменті, програмних засобів інформатики. Спеціалізовані
        класи були відкриті і на інших випускових кафедрах. До мережі під’єднані також класи дипломного та курсового
        проектування, два класи самостійної роботи студентів, викладацький Інтернет клас.</p>
      <p>З 1999 р. академія підключена до всесвітньої мережі Інтернет на виділеній лінії (швидкість 190 Кбіт).
        Функціонує web-сторінка, електронна пошта. Internet-сервер академії встановлено ОС FreeBSD (з родини UNIX), яка
        є однією з найпоширеніших і найзахищеніших у своїй галузі. Комп’ютери-роутери, які підтримують зв’язок між
        корпусами академії, також функціонують на базі FreeBSD.</p>
      <p>Відділ комп’ютерних технологій провів значну роботу з придбання і встановлення програмного забезпечення.
        Використовувалися також такі програмні пакети, як „1С - бухгалтерія 7.7”, „1С - підприємство 7.7”, „Операційний
        день банку”, „Система електронних платежів НБУ”, „Розрахункова плата НБУ”, „Тест”, „Абітурієнт”,
        „Автоматизований розклад” та ін.</p>
      <p>У 2000 р. започаткована автоматизована інформаційна бібліотечна система „Електронна бібліотека”, в якій
        розміщене усе навчально-методичне забезпечення. Студенти мають змогу користуватися „електронною бібліотекою”,
        виконувати дипломні роботи, а викладачі — проводити комп’ютерне тестування студентів під час підсумкового
        контролю і державної атестації, використовувати інформаційну базу для переходу до дистанційної форми організації
        навчального процесу на факультеті заочної освіти та екстернату.</p>
      <p>Від травня 2001 р. розробкою єдиної інформаційної системи ефективного управління академією почала займатися
        нова лабораторія розробки та впровадження інформаційних систем відділу комп’ютерних технологій.</p>
      <p>31 жовтня 2000 р. Вчена рада схвалила „Комплексну програму розвитку освітньої діяльності академії до 2005 р.”
        Над реалізацією цієї програми, яка передбачала комплекс заходів, пов’язаних з переходом на нові комп’ютерні
        технології навчання, працювали усі структурні підрозділи.</p>
      <p>З метою її ефективнішого проведення окрім існуючих, були створені додаткові умови, зокрема, у 2001 р.
        організована електронна бібліотека, необхідне програмне забезпечення якої здійснене силами спеціалістів відділу
        комп’ютерних технологій, облаштовано два комп’ютерних класи.</p>
      <p>Для впровадження нових технологій навчання у 1999 р. обладнано єдину високошвидкісну комп’ютерну мережу, яка у
        2003 р. налічувала понад 500 персональних комп’ютерів, розміщених у 25 комп’ютерних класах. Автоматизована
        інформаційно-бібліотечна система з доступом до неї через Інтранет та Інтернет забезпечила і можливість вільного
        користування нею усім студентам і викладачам академії. Цю роботу координувала рада із впровадження комп’ютерних
        технологій навчання, яку очолив завідувач кафедри програмних засобів інформатики А.Костенко.</p>
      <p>Відділом комп’ютерних технологій, під керівництвом кандидата економічних наук, доцента Олега Швеця, протягом
        2005–2006 навчального року завершено прокладання освітньої мережі навчального корпусу на вул. Тершаківців, 2а;
        підключено до Інтернету комп’ютерні класи кафедри іноземних мов та читацького залу в гуртожитку на проспекті
        Червоної калини, 7а; підтримано єдину базу даних тестових завдань для всіх спеціальностей академії, що дало
        змогу викладачам контролювати знання та навички студентів з використанням обчислювальної техніки; подвоєно
        швидкість доступу до світової мережі Інтернет.</p>
      <h3>Сьогодення</h3>
      <p>6 вересня 2010 року ректором Львівської комерційної академії проф. Копичем Іваном Михайловичем та Вченою радою
        академії було прийняте рішення про створення Навчально-наукового інформаційного інституту на базі колишнього
        відділу комп’ютерних технологій Львівської комерційної академії. Керівником новоствореного інституту став
        к.е.н., доцент Швець Олег Михайлович.</p>
      <p>Новостворений інститут об’єднав усі комп’ютерні класи та спеціалізовані відділи Львівської комерційної
        академії. Зокрема до складу інституту увійшли:</p>
      <ul>1. Відділ мережевих технологій програмного та технічного забезпечення.
        <li>Рекламно-редакційний відділ;</li>
        <li>Відділ інформаційного забезпечення та підтримки баз даних.</li>
      </ul>
      <ul>2. Відділ інформаційно-комп'ютерного забезпечення навчального процесу (ресурсний комп'ютерний центр).
        <li>Лабораторія ПК №1;</li>
        <li> Лабораторія ПК №2; </li>
        <li> Кабінет інформаційного забезпечення "Навчальний банк "Академія"; </li>
        <li> Кабінет інформаційного забезпечення ТКФ №1; </li>
        <li> Кабінет інформаційного забезпечення ТКФ №2; </li>
        <li> Кабінет інформаційного забезпечення кафедри бухобліку; </li>
        <li> Кабінет інформаційного забезпечення кафедри фінансів; </li>
        <li> Кабінет інформаційного забезпечення кафедри маркетингу; </li>
        <li> Кабінет інформаційного забезпечення кафедри МЕВ; </li>
        <li> Кабінет інформаційного забезпечення кафедри комерційної діяльності; </li>
        <li> Кабінет інформаційного забезпечення кафедри іноземних мов.</li>
      </ul>
      <p>3. Центр дистанційних технологій навчання ННІІ.</p>
      <p>В цілому по університету для належного забезпечення організації навчального процесу та роботи структурних
        підрозділів нараховується більше 600 одиниць сучасної комп'ютерної техніки з доступом до Інтернету.</p>
      <p>Підтримується функціонування волоконно-оптичної інфраструктури в університеті:</p>
      <ul>
        <li>підключено інфраструктуру до міжміських швидкісних каналів мережі УРАН, для взаємного обміну інформацією в
          Україні;</li>
        <li> відкрито доступу до наукових мереж світу, зокрема до панєвропейської науково-освітньої мережі GÉANT
          (об’єднує понад 3500 навчальних закладів в Європі (30 країн);</li>
        <li> швидкість з’єднання корпусів університету в локальну мережу Інтернет становить 1 Гбіт за секунду засобами
          оптоволоконної технології;</li>
        <li> всі комп’ютери університету на кафедрах, деканатах, інститутах, а також по всіх підрозділах університету
          забезпечено стабільною швидкістю Інтернету від 100 кілобайт за секунду, загальна швидкість Інтернету по
          університету становить 1,5 Гбіт за секунду;</li>
        <li> функціонують Wi-Fi точки доступу бездротового зв'язку передачі даних у навчальних корпусах університету;
        </li>
        <li> в університеті функціонують 11 комп'ютерних аудиторій при випускових кафедрах університету, 7 комп'ютерних
          аудиторій загального користування, З електронні бібліотечні читальні зали;</li>
        <li> функціонують лекційні аудиторії 121, 122, 212, 401 та 501 ННІІ, обладнані інтерактивною дошкою або плазмою,
          об’ємним аудіо звуком та іншими сучасними мультимедійними пристроями;</li>
        <li> при інституті функціонує «Методичний комплекс», який включає в себе віртуальний мультимедіа компакт-диск із
          матеріалами навчальної дисципліни (робоча програма, тематичний план, лекційний курс, практичні (семінарські)
          завдання, тести тощо);</li>
        <li> створена та функціонує інформаційна база дипломних робіт ЛТЕУ (антиплагіат, перевірці дипломних робіт та
          проектів), та здійснюється перевірка на плагіат дипломних робіт та проектів.</li>
      </ul>
      <p>У читальному залі ЛТЕУ обладнано 20 автоматизованих робочих місць.
        Організовано доступ до електронної бібліотеки ЛТЕУ та електронного каталогу бібліотеки на усіх комп’ютерах
        академії.</p>
      <p>В газеті «Студентський меридіан» систематично висвітлюються питання, пов’язані з найбільшими подіями в житті
        університету (посвячення в студенти, свято останнього дзвінка, річниця від дня заснування ЛТЕУ), діяльність
        Вченої ради, наукових конференцій і т. ін. Велику увагу приділяється успіхам студентів у навчанні, науковій
        діяльності як викладачів, так і студентів.</p>
    </div>
    <div class="rightMenu"></div>
  </div>
</div>
<app-footer></app-footer>
