<div class="container">
    <div class="containBox">
        <div class="imageBox"></div>
        <div class="textBox">
            <div class="seeds">
                <p class="back" [routerLink]="['/abit']">← Абітурієнтам</p>
              
            </div>
            <h2>Факультет міжнародних економічних відносин та інформаційних технологій</h2>
            <div class="spet">
                <h2>Спеціальності:</h2>
                <p>Компютерні науки</p>
                <p>Журналістика</p>
                <p>Міжнародні економічні відносини</p>
                <p>Маркетинг</p>
            </div>

            <a href="https://mon.gov.ua/ua"><div class="partner p1" ></div></a>
            <div class="icons">
                <a href="http://www.lute.lviv.ua/fotogalereja/?L=718&tx_yag_pi1%5Bcontext1301%5D%5BgalleryUid%5D=15&tx_yag_pi1%5Baction%5D=index&tx_yag_pi1%5Bcontroller%5D=Gallery&cHash=4420fc04887b8eee4f2bfa36af832f23"><div class="gallery"></div></a>
                <a href="https://www.facebook.com/lute.lviv/"><div class="facebook"></div></a>
                <a href="https://www.instagram.com/government_lute/"><div class="insta"></div></a>
                <a href="https://youtu.be/5M4gqPZ2y6w?list=PLCxE2Ayx9nPS2Yyxpd75fR5wnLWsuq9Y1"><div class="youTube"></div></a>
            </div>
            <div class="dividerXL"></div>
        </div>
    </div>
    <div class="content">
        <div class="leftMenu">
            <div class="cathedra">
                <h3>Кафедри</h3>
                <p><a href="http://www.lute.lviv.ua/structure/faculties/fmev/kaf-mark/?L=444">Кафедра маркетингу</a></p>
                <p><a href="http://www.lute.lviv.ua/structure/faculties/fmev/kaf-mev/?L=444">Кафедра міжнародних економічних відносин</a></p>
                <p><a href="http://www.lute.lviv.ua/structure/faculties/fmev/kaf-ino/?L=444">Кафедра іноземних мов</a></p>
                <p><a href="http://www.lute.lviv.ua/structure/faculties/fmev/kafedra-kompjuternikh-nauk/?L=444">Кафедра комп'ютерних наук</a></p>
                <p><a href="http://www.lute.lviv.ua/structure/faculties/fmev/kafedra-vishchoji-matematiki-ta-kilkisnikh-metodiv/?L=444">Кафедра вищої математики та кількісних методів</a></p>
            </div>
            <div class="divider"></div>
            <div class="people">
                <h4>Декан:</h4>
                <p class="worker"> к.е.н., Полякова Юлія Володимирівна</p>
                <h4>Заступник декана:</h4>
                <p class="worker"> ст. викладач Степанів Андрій Валерійович</p>
            </div>
            <div class="contacts">
                <p> адреса:</p>
                <p> 79005, м. Львів, вул. Бр. Тершаківців, 2а, кім. 314, 315</p>
            </div>
        </div>
        <div class="text">
            <h3>Про факультет</h3>
            <p>Факультет міжнародних економічних відносин та інформаційних технологій Львівського торговельно-економічного університету був створений у 1993 р. і здійснює підготовку студентів за наступними напрямами підготовки: 'Міжнародні економічні відносини',
                'Міжнародний бізнес', 'Маркетинг', 'Економічна кібернетика', 'Комп'ютерні науки', 'Реклама та зв'язки з громадськістю' .</p>
            <p>До складу факультету входять наступні кафедри: міжнародних економічних відносин; маркетингу; іноземних мов; вищої математики та кількісних методів; комп’ютерних наук, які очолюються провідними українськими вченими у відповідних галузях.</p>
            <p>З метою покращeння професійної підготовки студентів до навчального процесу на факультеті залучаються викладачі багатьох інших кафедр університету. Загалом заняття зі студентами факультету проводять більше ста викладачів, переважна частина
                яких мають вчені ступені і звання, в т.ч. доктори наук, професори.</p>
            <p>Викладачі факультету постійно підвищують свою кваліфікацію шляхом стажування у провідних навчальних закладах (в т.ч. США, Великобританії, Австрії, Угорщини, Польщі, Іспанії, Португалії, Болгарії, Словаччини, Чехії), участі у міжнародних науково-практичних
                конференціях, навчання в аспірантурі і докторантурі.</p>
            <p>Професорсько-викладацьким складом факультету регулярно виконуються науково-дослідні роботи, результати яких не тільки втілюються у практику, але і знаходять своє відображення у процесі навчання. Результати наукових досліджень викладачів регулярно
                друкуються у фахових виданнях і служать додатковим методичним забезпеченням навчального процесу.</p>
            <p>При підготовці спеціалістів на факультеті активно застосовується комп'ютерна техніка, за допомогою якої студенти виконують самостійні завдання, курсові та дипломні роботи, з окремих предметів практикується тестова форма складання іспитів на
                персональних комп'ютерах. В університеті створена електронна бібліотека, є можливості користуватись послугами Internet- мережі та дистанційними курсами на платформі MOODLE. Навчальний процес в достатній мірі забезпечений іншими технічними
                засобами, бібліотечним фондом, спортивними залами і майданчиками, гуртожитками.
            </p>
            <p>З метою підвищення якості навчання і посилення його зв'язку з практикою на факультеті організовуються зустрічі студентів з висококваліфікованими спеціалістами-практиками, відомими вченими, керівниками, провідними спеціалістами органів державного
                управління.
            </p>
            <p>На факультеті регулярно проводяться наукові студентські конференції, кращі роботи студентів друкуються у збірниках студентських наукових робіт Львівського торговельно-економічного університету, представляються на міжвузівські конкурси, міжнародні
                студентські конференції. За останні роки на таких конкурсах і конференціях студенти факультету багато разів отримували призові місця.</p>
            <p>Високий рівень викладання і дисципліни, які ми пропонуємо вивчити студентам, дозволяє їм у майбутньому добре орієнтуватися у складних питаннях сучасної ринкової економіки, кваліфіковано вирішувати проблеми у діяльності підприємств, вільно
                володіти комп’ютерною технікою, професійно опанувати іноземні мови (зі знанням ділової лексики), розв’язувати інші завдання у царині світового господарства та національної економіки.</p>

        </div>
        <div class="rightMenu"></div>
    </div>
</div>
<app-footer></app-footer>