<body>
    <div class="background"></div>
    <div class="container">
        <div class="boxInfo">
            <h2>Питання та відповіді</h2>
            <h3>Як поступити?</h3>
            <div class="leftCont">
                <div class="pic img1"></div>
                <div class="textCont">
                    <p>Здати предмети ЗНО які потрібні для обраної спеціальності (дивись "<a href="http://www.lute.lviv.ua/fileadmin/www.lac.lviv.ua/data/Abitura/LAC_Documents/Putivnik/Putivnik_vstupnika_Bakalavr.pdf"> <b>путівник вступника</b></a>", або в меню "спеціальності");</p>
                    <p>Подати електронну заяву;</p>
                    <p>Чекати результати і рейтингові списки;</p>
                    <p>Подати копії перелічених документів:</p>

                    <ul>
                        <li><span>Копію документа (одного з документів), що посвідчує особу</span></li>
                        <li><span>Копію військово-облікового документа - для військовозобов’язаних (крім
                            випадків, передбачених законодавством);
                            </span></li>
                        <li><span>копію документа державного зразка про раніше здобутий освітній
                            (освітньо-кваліфікаційний) рівень, на основі якого здійснюється вступ, і копію
                            додатка до нього;</span></li>
                        <li><span>копію сертифіката (сертифікатів) зовнішнього незалежного оцінювання
                            (для вступників на основі повної загальної середньої освіти та освітньокваліфікаційного рівня молодшого спеціаліста);</span></li>
                        <li><span>чотири кольорові фотокартки розміром 3 х 4 см;</span></li>
                    </ul>
                </div>

            </div>

            <h3>Як зареєструвати електронний кабінет?</h3>

            <div class="leftCont reverse">
                <div class="pic img6"></div>
                <div class="textCont">
                     <p>Зареєструвати <a href="https://ez.osvitavsim.org.ua/"> <b>електронний кабінет</b></a> можна двома способами, на основі сертифікату ЗНО, або із сертифікатом ЄВІ/ЄФВВ (бакалаври, спеціалісти, магістри). Під першим блоком є меню "Інформація для вступника" з потрібною інформацією, та <a href="https://www.facebook.com/Inforesurs/posts/892964394532212"> <b>Відеороз'яснення</b></a> про реєстрацію та подачу документів.</p>
                </div>
            </div>

            <h3>На які спеціальності можна поступити?</h3>

            <div class="leftCont">
                <div class="pic img5"></div>
                <div class="textCont">

                    <p>З переліком спеціальностей можна ознайомитись на <a href="http://www.lute.lviv.ua/admissions/gss/sp/?L=546"> <b>сторінці університету</b> </a>, або в меню "Спеціальність" на головній сторінці</p>
                </div>
            </div>


            <h3>Скільки коштує навчання?</h3>

            <div class="leftCont reverse">
                <div class="pic img2"></div>
                <div class="textCont">
                     <p>Вартість навчання для кожної спеціальності можна подивитись <a href="http://www.lute.lviv.ua/fileadmin/www.lac.lviv.ua/data/Abitura/LAC_Documents/Pravyla_Pryyomu/2018/2018_Dodatok_1.pdf"> <b>тут</b></a>.</p>
                </div>
            </div>
            
            
            <h3>Як поселитись в гуртожитоку?</h3>
                <div class="leftCont">
                    <div class="pic img3"></div>
                    <div class="textCont">

                    <ul>Студент при поселенні до гуртожитку повинен:
                        <li><span>пред’явити паспорт та дві фотокартки 3х4;</span></li>
                        <li><span>зареєструватися у дирекції студмістечка;</span></li>
                        <li><span>пройти медогляд у медпункті університету та отримати відмітку у
                            ордері на проживання;</span></li>
                        <li><span>звернутися до паспортиста студмістечка для реєстрації місця
                            проживання; </span></li>
                        <li><span>Стати на військовий облік (військовозобов’язанним);</span></li>
                        <li><span>З ордером, відміткою від лікаря та паспортиста звернутися до дирекції
                            студмістечка для поселення;</span></li>
                        <li><span>Оформити угоду на проживання у гуртожитку та провести оплату;</span></li>
                        <li><span>отримати перепустку до гуртожитку у дирекції студмістечка;</span></li>
                        <li><span>Пройти інструктаж з техніки безпеки при експлуатації
                            електропобутових приладів, побутової радіоапаратури і газового обладнання,
                            вивчити правила внутрішнього розпорядку, протипожежної безпеки,
                            ознайомитись із сантехнічним обладнанням, правилами користування особистими
                            електропобутовими приладами, оформити особову картку для одержання
                            інвентарю індивідуального користування.</span></li>                
                    </ul>
                </div>
            </div>

            <h3>З якою мінімальною кількістю балів можна поступити?</h3>
                <div class="leftCont reverse">
                    <div class="pic img4"></div>
                    <div class="textCont">
                     <p>Мінімальна кількість балів для допуску до участі в конкурсі на 2020 рік складає 100 балів. Деталі можна дізнатись <a href="http://www.lute.lviv.ua/fileadmin/www.lac.lviv.ua/data/Abitura/LAC_Documents/Pravyla_Pryyomu/2018/2018_Dodatok_4.pdf"> <b>тут</b></a>.</p>
                </div>
            </div>
           

            <h3>Тут немає питання яке мене цікавить, як його можна задати?</h3>
                <div class="leftCont">
                    <div class="pic img7"></div>
                    <div class="textCont">
                     <p>За будь-якою інформацією стосовно вступу можна звертатись за номерами телефону: <b> <a href="tel:+380322756866">(032) 275-68-66</a></b>, <b> <a href="tel:+380322958117">(032) 295-81-17</a></b>,</p>
                     <p>а також за e-mail адресою: <b><a href="mailto:pk(at)lute.lviv.ua">pk(at)lute.lviv.ua</a></b> </p>
                </div>
            </div>
        </div>
    
</div>

</body>


<app-footer></app-footer>