<div class="container">
    <div class="containBox">
      <div class="imageBox"></div>
      <div class="textBox">
        <div class="seeds">
          <p class="back" [routerLink]="['/abit']">← Абітурієнтам</p>
  
        </div>
        <h2>Навчально-науковий інститут післядипломної освіти</h2>
        <div class="spet">
        </div>
        <div class="icons">
          <a href="http://www.lute.lviv.ua/fotogalereja/?L=718&tx_yag_pi1%5Bcontext1301%5D%5BgalleryUid%5D=15&tx_yag_pi1%5Baction%5D=index&tx_yag_pi1%5Bcontroller%5D=Gallery&cHash=4420fc04887b8eee4f2bfa36af832f23"><div class="gallery"></div></a>
          <a href="https://www.facebook.com/lute.lviv/"><div class="facebook"></div></a>
          <a href="https://www.instagram.com/government_lute/"><div class="insta"></div></a>
          <a href="https://www.youtube.com/watch?v=TnK_Vw-xt9Q"><div class="youTube"></div></a>
        </div>
      <div class="dividerXL"></div>
      </div>
    </div>
    <div class="content">
      <div class="leftMenu">
       
        <div class="divider"></div>
        <div class="people">
          <h4>Директор:</h4>
          <p class="worker"> к.е.н., доцент Самура Юрій Олексійович</p>
        </div>
        <div class="contacts">
          <p> адреса:</p>
          <p> м.Львів, вул. Бр.Тершаківців 2а, к.113, 113а, 114</p>
          <p>тел.:</p>
          <p>275-56-32</p>
          <p>295-81-64 (деканат)</p>
          <p>275-68-66 (приймальна комісія)</p>
          <p>e-mail:</p>
          <p>lac_ipo(at)ukr.net</p>
        </div>
      </div>
      <div class="text">
        <h3>Про Інститут</h3>
        <p>Створений в 1969 році, як структурний підрозділ навчального закладу, який є одним із провідних інститутів післядипломної освіти в Західній Україні. Післядипломна економічна та фінансова освіта забезпечує фахівцю нові перспективи в професійному та кар’єрному рості, а компанії - можливості стрімкого розвитку та збільшення прибутку.
        </p>
        <p>З метою максимального задоволення потреб в освоєнні навчальних програм в Інституті працюють тьютори-практики, а освітній арсенал складається з переліку єфективних методичних і практичних інструментів сучасної європейської освіти.</p>
        <p>Одним із пріоритетних напрямків роботи Інституту є професійне навчання, перенавчання та підвищення кваліфікації слухачів за професіями і спеціальностями, що користуються попитом на ринку праці згідно з потребами роботодавців або такими, що дають можливість займатися малим і середнім бізнесом. З цією метою Інститут презентує окремі Програми з професійного навчання.</p>
        <p>На нашому сайті Ви можете ознайомитись з умовами професійного навчання за різними програмами, можливістю підтвердження неформального навчання та перепідготовки, отримання спеціалізації та підвищення кваліфікації за рахунок інноваційних методів, які забезпечують модератори програм.</p>
        <p>Після завершення навчального процесу слухачам курсів видається посвідчення встановленої форми, яке відкриває можливість подальшого працевлаштування.</p>
      </div>
      <div class="rightMenu"></div>
    </div>
  </div>
  <app-footer></app-footer>