

.h1_underline{
    margin: 100px 0px 80px 0px;
    border-bottom: 2px solid;
    width: 700px;
}
.listyle{
    list-style: none;
    margin: 0 6px;
    position: relative;
    display: block;
    color: black;
    padding: 8px 13px 3px 13px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;
    cursor: pointer;
}
.link {
    list-style: none;
    text-transform: uppercase;
    margin: 0 6px;
    position: relative;
    display: block;
    color: white;
    padding: 8px 13px 3px 13px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s;
    cursor: pointer;
}