<div class="container">
  <div class="containBox">
    <div class="imageBox"></div>
    <div class="textBox">
      <div class="seeds">
        <p class="back" [routerLink]="['/abit']">← Факультети</p>
       
      </div>
      <h2>Юридичний факультет</h2>
      <div class="spet">
        <h2>Спеціальність:</h2>
        <p> Право</p>
      </div>
      <div class="icons">
        <a href="http://www.lute.lviv.ua/fotogalereja/?L=718&tx_yag_pi1%5Bcontext1301%5D%5BgalleryUid%5D=15&tx_yag_pi1%5Baction%5D=index&tx_yag_pi1%5Bcontroller%5D=Gallery&cHash=4420fc04887b8eee4f2bfa36af832f23"><div class="gallery"></div></a>
        <a href="https://www.facebook.com/lute.lviv/"><div class="facebook"></div></a>
        <a href="https://www.instagram.com/government_lute/"><div class="insta"></div></a>
        <a href="https://www.youtube.com/watch?v=TnK_Vw-xt9Q"><div class="youTube"></div></a>
      </div>
    <div class="dividerXL"></div>
    </div>
  </div>
  <div class="content">
    <div class="leftMenu">
      <div class="cathedra">
        <h3>Кафедри</h3>
        <p><a href="http://www.lute.lviv.ua/structure/faculties/uf/kaf-teoprav/?L=444">Кафедра теорії держави і права</a></p>
        <p><a href="http://www.lute.lviv.ua/structure/faculties/uf/kaf-cyvil/?L=444">Кафедра цивільного права та процесу</a></p>
        <p><a href="http://www.lute.lviv.ua/structure/faculties/uf/kaf-crime/?L=444">Кафедра кримінального права та процесу</a></p>
        <p><a href="http://www.lute.lviv.ua/structure/faculties/uf/kaf-gosp/?L=444">Кафедра господарського права та процесу</a></p>
        <p><a href="http://www.lute.lviv.ua/structure/faculties/uf/kaf-istor/?L=444">Кафедра історії і філософії</a></p>
      </div>
      <div class="divider"></div>
      <div class="people">
        <h4>Декан:</h4>
        <p class="worker"> кандидат юридичних наук, професор Котуха Олександр Степанович</p>
        <h4>Заступник декана:</h4>
        <p class="worker">кандидат юридичних наук, доцент Олашин Марина Миколаївна</p>
      </div>
      <div class="contacts">
        <p> адреса:</p>
        <p> адреса:
          м. Львів, вул. Самчука, 9 Кім. 422. тел: (032) 295-81-50  (032) 276-44-08</p>
      </div>
    </div>
    <div class="text">
      <h3>Про факультет</h3>
      <p>Юридичний факультет заснований у 1996 році. Цьому передувало створення у 1986 році кафедри права, а у 1992 році – відкриття спеціалізації «Правознавство». Особливу увагу керівництво університету та факультету звертало і звертає на формування викладацького складу з числа професійних фахівців, які не тільки мають глибокі в галузі права, а й займаються практичною діяльністю поєднуючи з науковою роботою.

        На юридичному факультеті своїм практичним досвідом ділилися та навчали студентів такі відомі юристи-практики як:
        
        Кравчук В.М. – суддя Верховного Суду України – своїм гострим розумом та доступністю викладу матеріалу легко закохував студентів у цивільний процес;
        Костів М.В. – суддя Львівського адміністративного апеляційного суду – толерантне відношення до студентів, професійний підхід до навчального процесу та відмінне знання адміністративного права завжди були його візитівкою;
        Кравців О.Р.  – суддя Львівського окружного адміністративного суду – завжди в процесі викладання начальних дисциплін застосував сучасні підходи до вивчення та опрацювання матеріалу студентами;
        Коморний О.І. – суддя Львівського окружного адміністративного суду –  віртуозно володів науковим трактуванням норм господарського та підприємницького права та доступним їх роз’ясненням, поєднаним з практичними прикладами
        Войтюк І. А. – в минулому ректор академії суддів України – була великим прихильник досудового врегулювання спорів, навчала студентів медіації.
        На юридичному факультеті здійснюється підготовка фахівців-правників за освітньою програмою 081 «Право», за освітніми рівнями: бакалавра, магістра та з 2017 року – доктора філософії.  Підготовка науково-педагогічних кадрів вищої кваліфікації здійснюється через аспірантуру. На факультеті діє з 2017 р. аспірантура за спеціальністю 081 Право.</p>
      <h4>Юридична клініка</h4>
      <p>На базі Юридичного факультету створена та успішно функціонує Юридична клініка «Pro Bono», метою якої є допомагати і підтримувати реалізацію прав та інтересів громадян України, всебічно сприяти популяризації правової реформи й розвитку правової системи, юридичної освіти, а також становленню нового демократичного і правового суспільства.</p>
      <p>Також на базі клініки створена та успішно діє студентська команда «Pro bono», яка представляє факультет на різноманітних змаганнях з галузей права та займає призові місця.</p>
      <h4>Міжнародне співробітництво</h4>
      <p>За останні роки активізувалось міжнародне співробітництво юридичного факультету з вищими навчальними закладами Угорщини та Польщі. Так, в межах програми Erasmus до юридичного факультету Львівського торговельно-економічного університету приїжджають лектори юридичного факультету Дебреценського університету та діляться своїм практичним досвідом. Зокрема щодо аспектів самої ідеї Європи та інтеграції України до  Європейського Союзу в цілому («Enlargement of the European Union», «History of the idea of Europe and  European integration»). Викладачі нашого університету підвищують свю кваліфікацію у провідних навчальних закладах Польщі, Словакії та Угорщини.</p>
    <p>В межах програми Erasmus+, студенти юридичного факультету, в рамках міжнародного співробітництва, проходять навчання тривалістю у 6 місяців в Університет Дебрецену (Угорщина), який є одним із найстаріших та найвідоміших університетів країни. Відповідно до умов програми, іноземні студенти навчаються англійською мовою та повинні пройти екзаменаційний період з тих дисциплін, які вивчав протягом одного семестру в університеті.</p>
    </div>

    <div class="rightMenu"></div>
  </div>
</div>
<app-footer></app-footer>
