<body>
    <iframe class="frameMargin frame" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d10294.394228030862!2d24.02753959203786!3d49.83120987031393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0YLQvtGA0LPQvtCy0LXQu9GM0L3QviDQtdC60L7QvdC-0LzRltGH0L3QuNC5INC70YzQstGW0LI!5e0!3m2!1sua!2sua!4v1595171033532!5m2!1sua!2sua" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <h2 class="h1_underline">Контакти</h2>
    <div class="container">
        <div class="box1">
            <div class="leftBox">
                <h3>Приймальна комісія</h3>
                <p><b>адреса:</b>  вул. Туган-Барановського, 10 кабінет 108</p>
                <p><b>Телефон: </b> <a class="tel" href="tel:0322756866">(032) 275-68-66</a>, <a class="tel" href="tel:0322958117">(032) 295-81-17</a></p>
                <p><b>email: </b> <a class="tel" href="mailto:pk(at)lute.lviv.ua">pk(at)lute.lviv.ua</a></p>
            </div>
            <div class="rightBox">
                <h3>Приймальна ректора</h3>
                <p><b>адреса:</b> вул. Туган-Барановського, 10</p>
                <p><b>Телефон: </b> <a class="tel" href="tel:0322756550">(032) 275-65-50</a>, <a class="tel" href="tel:0322958102">(032) 295-81-02</a></p>
                <p><b>email: </b> <a class="tel" href="mailto:lute(at)lute.lviv.ua">lute(at)lute.lviv.ua</a></p>
            </div>
        </div>

        <div class="box2">
            <div class="adress">
                <div class="adBox1"></div>
                <div class="adBox2">
                    <div class="ad3">
                        <p><b>Корпус №1</b></p>
                        <p>адреса: вул. Туган-Барановського, 10</p>
                        <p>телефон: <b><a class="tel" href="tel:275-65-72">275-65-72</a></b></p>
                    </div>
                    <div class="ad1">
                        <p><b>Корпус №3</b></p>
                        <p>адреса: вул. У.Самчука, 9</p>
                        <p>телефон: <b><a class="tel" href="tel:276-43-88">276-43-88</a></b></p>
                    </div>
                    <div class="ad1">
                        <p><b>Корпус №3</b></p>
                        <p>адреса: вул. У.Самчука, 11</p>
                        <p>телефон: <b><a class="tel" href="tel:295-81-40">295-81-40</a></b></p>
                    </div>
                    <div class="ad1">
                        <p><b>Корпус №4</b></p>
                        <p>адреса: вул. Братів Тершаківців, 2а</p>
                        <p>телефон: <b><a class="tel" href="tel:275-65-20">275-65-20</a></b></p>
                    </div>
                </div>
                
            </div>
            <div class="adressGurt">
                <div class="agBox1"></div>
                <div class="agBox2">
                    <div class="ad1">
                        <p><b>Гуртожиток №3</b></p>
                        <p>адреса: пр. Червоної Калини, 7</p>
                        <p>телефон: <b><a class="tel" href="tel:270-60-44">270-60-44</a></b></p>
                    </div>
                    <div class="ad2">
                        <p><b>Гуртожиток №4</b></p>
                        <p>адреса: пр. Червоної Калини, 7а</p>
                        <p>телефон: <b><a class="tel" href="tel:270-60-41">270-60-41</a></b></p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="backColor"></div>
</body>
<app-footer></app-footer>
