<div class="container">
  <div class="containBox">
    <div class="imageBox"></div>
    <div class="textBox">
      <div class="seeds">
        <p class="back" [routerLink]="['/abit']">← Абітурієнтам</p>

      </div>
      <h2>Інститут економіки та фінансів</h2>
      <div class="spet">
        <h2>Спеціальності:</h2>
        <p>Економіка</p>
        <p>Фінанси, банківська справа та страхування</p>
        <p>Облік і оподаткування</p>
      </div>
      <div class="icons">
        <a href="http://www.lute.lviv.ua/fotogalereja/?L=718&tx_yag_pi1%5Bcontext1301%5D%5BgalleryUid%5D=15&tx_yag_pi1%5Baction%5D=index&tx_yag_pi1%5Bcontroller%5D=Gallery&cHash=4420fc04887b8eee4f2bfa36af832f23"><div class="gallery"></div></a>
        <a href="https://www.facebook.com/lute.lviv/"><div class="facebook"></div></a>
        <a href="https://www.instagram.com/government_lute/"><div class="insta"></div></a>
        <a href="https://www.youtube.com/watch?v=TnK_Vw-xt9Q"><div class="youTube"></div></a>
      </div>
    <div class="dividerXL"></div>
    </div>
  </div>
  <div class="content">
    <div class="leftMenu">
      <div class="cathedra">
        <h3>Кафедри</h3>
        <p><a href="http://www.lute.lviv.ua/structure/institutes/ief/kaf-audytu/?L=444">Кафедра аудиту, аналізу та оподаткування</a></p>
        <p><a href="http://www.lute.lviv.ua/structure/institutes/ief/kaf-oblik/?L=444">Кафедра бухгалтерського обліку</a></p>
        <p><a href="http://www.lute.lviv.ua/structure/institutes/ief/kaf-ekon/?L=444">Кафедра економіки</a></p>
        <p><a href="http://www.lute.lviv.ua/structure/institutes/ief/kaf-ekonteor/?L=444">Кафедра теоретичної та прикладної економіки</a></p>
        <p><a href="http://www.lute.lviv.ua/structure/institutes/ief/kaf-fin/?L=444">Кафедра фінансів, кредиту та страхування</a></p>
        <p><a href="http://www.lute.lviv.ua/structure/institutes/ief/kaf-bank/?L=444">Кафедра фінансово-економічної безпеки та банківського бізнесу</a></p>
        <p><a href="http://www.lute.lviv.ua/structure/institutes/ief/kaf-fizkult/?L=444">Кафедра фізичного виховання та спорту</a></p>
      </div>
      <div class="divider"></div>
      <div class="people">
        <h4>Директор:</h4>
        <p class="worker"> к.е.н., доцент Герасименко Тамара Олегівна</p>
      </div>
      <div class="contacts">
        <p> адреса:</p>
        <p> 79005, м. Львів, вул. Туган-Барановського 10, к.307</p>
        <p>тел.: 240–34–39</p>
        <p>e-mail: ief_dekanat@ukr.net</p>
      </div>
    </div>
    <div class="text">
      <h3>Про Інститут</h3>
      <p>Навчально-науковий Інститут економіки та фінансів, яскравими сторінками багатолітньої історії якого є
        формування і примноження класичних традицій якісної підготовки фахівців у сфері торгівлі та послуг національної
        економіки у рамках реалізації державної інноваційної політики, спрямованої на відродження духовного та
        інтелектуального потенціалу нації.
      </p>
      <p> Історія Інституту економіки та фінансів розпочинається з 1940 р., коли був створений обліково-економічний
        факультет у Львівському інституті радянської торгівлі, що у 1957 р., шляхом об'єднання з торгово-економічним
        факультетом, утворив економічний факультет. У березні 2003 р. економічний факультет був реорганізований в
        Інститут економіки та фінансів Львівської комерційної академії, яка у 2016 році змінила назву і статус на
        Львівський торговельно-економічний університет.</p>
      <p>Інститут, до складу якого входять сім кафедр, здійснює підготовку студентів за ступенями:</p>
      <p>бакалавра за спеціальностями:</p>
      
      <ul>
        <li>“Фінанси, банківська та страхування” (освітньо-професійна програма: "Фінанси, банківська справа та страхування");</li>
        <li>“Облік і оподаткування” (освітньо-професійна програма: "Облік і оподаткування");</li>
        <li>“Економіка” (освітньо-професійні програми: "Економіка підприємства"; "Міжнародна економіка");</li>
      </ul>
      
      <p>магістра за спеціальностями:</p>
    
      <ul>
          <li>“Фінанси, банківська та страхування” (освітньо-професійна програма: "Фінанси, банківська справа та страхування");</li>
          <li>“Облік і оподаткування” (освітньо-професійна програма: "Облік і оподаткування");</li>
          <li>“Економіка” (освітньо-професійні програми: "Економіка підприємства"; "Міжнародна економіка");</li>
          <li>“Менеджмент” (освітньо-професійна програма: “Управління фінансово-економічною безпекою”).</li>
      </ul>
      <p>Підготовку студентів за спеціальностями здійснює професорсько-викладацький склад семи кафедр Інституту, який налічує більше 50  осіб, серед яких 11 докторів наук та професорів та понад 40  кандидатів наук.</p>

    </div>
    <div class="rightMenu"></div>
  </div>
</div>
<app-footer></app-footer>
