<body>
  <div class="background">
    <h2 class="h1_underline">Історія</h2>
    <h2 class="name">ЛТЕУ</h2>
  </div>
  <div class="container">
    <div class="nameContainer">
      <h2 class="fullName">Львівський</h2>
      <h2 class="fullName">торговельно-економічний</h2>
      <h2 class="fullName">університет</h2>
    </div>

    <p class="about">Університет гордиться званням найстарішого торговельно-економічного вищого навчального закладу
      України та Центральної й Східної Європи. Датою народження навчального закладу вважається 7 березня 1816 року –
      день створення Реальної школи – день видання королівського декрету австрійського імператора Франца І (Майланд, №
      78).</p>
    <div class="numbersContainer">
      <div class="leftNumber">
        <p class="year">18</p>
        
      </div>
      <div class="rightNumber">
        <div class="infoContainer">
          <p class="yearRight">16</p>
          <p class="historyInfo">Датою народження навчального закладу вважають 7 березня 1816 — день створення у Львові
            Цісарсько-королівської реальної школи. Одночасно з Технічним відділом РШ (з нього згодом виросла Львівська
            політехніка) було створено і Торговий. З того часу освітня установа активно розвивалась, тут роками
            напрацьовувались кооперативні традиції, зберігались таємниці успішного ведення торговельних справ.</p>
        </div>
        
        <div class="infoContainer">
          <p class="yearRight">17</p>
          <p class="historyInfo">Відкриття Реальної школи у Львові відбулося 7 листопада 1817 р. Тимчасовим директором
            був призначений кафедральний схоласт Мінасевич.</p>
        </div>
        
        <div class="infoContainer">
          <p class="yearRight">43</p>
          <p class="historyInfo">24 січня 1843 р. Імператор Фердинанд І постановою дозволив відкрити Реально-торговельну
            академію з торговельним і технічним, а за потреби – й рільничим відділенням. У вересні 1844 р. новий
            навчальний заклад отримав офіційну назву – Цісарсько-королівська технічна академія з торговельним </p>
        </div>
        <div class="infoContainer">
          <p class="yearRight">99</p>
          <p class="historyInfo">8 вересня 1899 року імператор Франц Йосиф найвищою постановою прийняв до відома
            інформацію про заснування державної торговельної школи у Львові. На підставі статуту, затвердженого паном
            міністром віросповідань і освіти наказом від 16 серпня 1899 р., торговельна школа є першим такого роду
            державним закладом у Галичині”</p>
        </div>
      </div>
    </div>
    <div class="numbersContainer">
      <div class="leftNumberSecond">
        <p class="year">19</p>
      </div>
      <div class="rightNumber2">
        <div class="infoContainer">
          <p class="yearRight">02</p>
          <p class="historyInfo">Вища торговельна школа у Львові здобула статус Торговельної академії й офіційне
            визнання основного освітнього осередку в Галичині з підготовки висококваліфікованих спеціалістів у сфері
            торгівлі.</p>
        </div>
        <div class="infoContainer">
          <p class="yearRight">22</p>
          <p class="historyInfo">3 квітня 1922 р. Президія Торговельно-промислової палати одноголосно ухвалила рішення
            про заснування у Львові вищого навчального торговельного закладу. За статутом, офіційна назва навчального
            закладу – Вища школа закордонної торгівлі у Львові.</p>
        </div>
        <div class="infoContainer">
          <p class="yearRight">39</p>
          <p class="historyInfo">1 листопада 1939 р. на основі Академії було створено Львівській інститут радянської
            торгівлі.</p>
        </div>
        <div class="infoContainer">
          <p class="yearRight">47</p>
          <p class="historyInfo">Відбулося об’єднання Українського інституту радянської кооперативної торгівлі та
            Львівського інституту радянської торгівлі. Реорганізований інститут отримав назву Львівський
            торговельно-економічний інститут і був підпорядкований Головному управлінню економічних вузів Міністерства
            вищої освіти СРСР.</p>
        </div>
      </div>
    </div>

    <div class="numbersContainer">
      <div class="leftNumberThird">
        <p class="yearOne">20</p>
      </div>

      <div class="rightNumber2">
        <div class="infoContainer">
          <p class="yearRight">16</p>
          <p class="historyInfo">До 1991 р. Львівський торговельно-економічний інститут підпорядковувався Центроспілці
            СРСР, то починаючи з серпня 1991 р. – Укоопспілці. 26 листопада 1994 р. Львівський торговельно-економічний
            інститут перетворений у Львівську комерційну академію.</p>
        </div>
      </div>
    </div>
    <div class="numbersContainerLast">
        <div class="leftNumberThird">
          <p class="yearOne">NOW</p>
        </div>
  
        <div class="rightNumber2">
          <div class="infoContainer">
            <p class="yearRight"></p>
            <p class="historyInfoLast">Сьогодні університет – це сучасна освітньо-наукова уставнова європейського зразка, де створено всі передумови для успішного навчання і наукового росту молоді до рівня висококваліфікованих фахівців, що відповідає сучасним вимогам роботодавців.</p>
          </div>
        </div>
    </div>
    



  </div>

</body>
<app-footer></app-footer>