@import "src/app/styles/stylesMain/_sideNav.scss";
@import "src/app/styles/stylesMain/_navBar.scss";
@import "src/app/styles/stylesMain/_elementStyles.scss";

:host {
    display: block;
  }
  .open-close-container {
    border: 1px solid #dddddd;
    margin-top: 1em;
    padding: 20px 20px 0px 20px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
  }

 .X3{
   z-index: 499;
 } 
 .X4{
   z-index: 498;
 }


